/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

/* Define CSS variables */
@theme {
  --color-dark: #081722;
  --color-light: #f5f1ed;
  --color-gray: #6b7280;
  --color-white: #ffffff;

  --font-sans: "Poppins", sans-serif;
}
/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Gray thumb */
  border-radius: 9999px; /* Fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Darker on hover */
}

/* Firefox support */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #6b7280 transparent; /* Thumb color + track */
}
button {
  cursor: pointer;
}
